.tile {
    border: 5px solid black;
}

h1 {
    color: pink;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#div_table {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

table{
    margin: 0 auto;
}

form{
    /* margin: 0 auto; */
    text-align: center;
}

#form_div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}