{% extends 'base.html' %}
{%block title%}
    This is the board page
{%endblock%}

{% block heads %} 
<link rel="stylesheet" href="../static/board_style.css" type="text/css"> 
{% endblock %}

{%block content%}
    <h1>This is the board page</h1>
    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}
    <div>
        <table>
            {% for i,row in enum(board) %}
            <tr id = {{i}}>
                {% for j,col in enum(row) %}
                    <td id = {{j}} class = "tile">{{i}},{{j}}</td>           
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>


    <form id="guess_form">
        <input type="text" name="word_guess">
        <button>Submit</button>
    </form>

{%endblock%}
{% block scripts %}
<script src = "../static/board_script.js"></script>
{% endblock %}